Checks: >
  -*,
  bugprone-*,
  clang-analyzer-*,
  performance-*,
  portability-*,
  readability-container-size-empty,
  readability-duplicate-include,
  readability-inconsistent-declaration-parameter-name
WarningsAsErrors: '*'
HeaderFilterRegex: '^(include|src)/'
FormatStyle: file
